{% extends "auth_layout.html" %}
{% load crispy_forms_tags %}

{% block auth %}

<h1>Cambia la tua Password</h1>
<div class="login-form-container">
    <p class = 'lead text-muted'> Allarga la tua Conoscenza</p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <p class= 'mt-2'> <a href=" {% url 'mail_reset' email='luigi' %}">Reset</a>
              <button type="submit" class = 'btn btn-success btn-block'name="button"
        href=" {% url 'mail_reset' email='luigi' %}"
       >Reset</button>
    </form>
</div>


{% endblock %}
