{% extends "auth_layout.html" %}
{% load crispy_forms_tags %}

{% block auth %}
<h1>Confirm Form</h1>
{% if validlink %}
<div class="login-form-container">
    <p class = 'lead text-muted'> Cambia Password</p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class = 'btn btn-success btn-block'name="button">Cambia Password</button>
    </form>
    {% else %}
    <p> Il link della password non é valido, forse é stato gia utilizzato
    </p>
    {% endif %}

</div>


{% endblock %}
